.searchBar {
	margin: 2% 30%;
}
.searchBar #query {
	display: inline;
	width: 160px;
}

#searchResult :hover {
	text-decoration: none !important;
}
#searchResult .jumbotron:hover {
	
	border: 1px solid silver;
}
.jumbotron p {
	font-size: 15px;
}
.randomArticle {
	display: block;
	margin: 2% 7%;
}